.container {
  position: relative;
}

.hidden {
  visibility: hidden;
}

.shownValue {
  height: 17px;
}

.select {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  color: rgb(var(--rrte-color-2));
  padding: 0px 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--toolbar-button-border-radius);
  background-color: rgb(
    var(--rrte-dropdown-unfocused-background),
    var(--rrte-dropdown-unfocused-background-alpha)
  );
  gap: 6px;

  .icon {
    min-width: max-content;
    stroke: rgb(var(--rrte-color-2));
  }

  &:disabled {
    opacity: 0.1;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-within,
  &:hover,
  &:focus {
    background-color: rgb(
      var(--rrte-toolbar-item-focus-background),
      var(--rrte-toolbar-item-focus-background-alpha)
    );
    outline: var(--rrte-toolbar-item-focus-outline);
  }
}

.arrowContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.input {
  pointer-events: none;
  user-select: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.value {
  word-break: keep-all;
  font-family: var(--rrte-p-font-family);
  font-size: 14px;
  height: 17px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 12px;
  height: 12px;
  transition: transform 0.25s;

  & > path {
    fill: rgb(var(--rrte-color-2));
  }

  &.arrowOpen {
    transform: rotate(180deg);
  }
}

.dropdownItemsContainer {
  width: min-content;
  list-style: none;
  margin: 0;
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--toolbar-button-border-radius) * 2);
}

.dropdownItem {
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  height: min-content;
  min-height: 30px;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: rgb(var(--rrte-color-2));
  font-family: var(--rrte-p-font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;

  &.iconItem {
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: rgb(var(--rrte-color-4));
    color: rgb(var(--rrte-color-1));

    .itemFill * {
      fill: rgb(var(--rrte-color-1));
    }

    .itemStroke * {
      stroke: rgb(var(--rrte-color-1));
    }
  }

  .itemFill * {
    fill: rgb(var(--rrte-color-2));
  }

  .itemStroke * {
    stroke: rgb(var(--rrte-color-2));
  }
}

// all dropdown items that are not the first one
.dropdownItemContainer:not(:first-child) {
  border-top: 2px solid rgb(var(--rrte-color-3));
}

.buttonContent {
  display: flex;
  align-items: center;
}
