.base {
  border-inline-start: var(--rrte-codeblock-border-start);
  padding-inline-start: var(--rrte-codeblock-padding-start);
  background: rgb(var(--rrte-codeblock-background));
  color: rgb(var(--rrte-codeblock-color));
  font-family: var(--rrte-codeblock-font-family);
  font-size: var(--rrte-codeblock-font-size);
  line-height: var(--rrte-codeblock-line-height);
  font-weight: var(--rrte-codeblock-font-weight);
  text-decoration: var(--rrte-codeblock-text-decoration);
  font-style: var(--rrte-codeblock-font-style);
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}