.base {
    color: var(--rrte-link-color);
    font: var(--rrte-link-font);
    font-size: var(--rrte-link-font-size);
    font-weight: var(--rrte-link-font-weight);
    text-decoration: var(--rrte-link-text-decoration);

    &:visited {
        color: var(--rrte-link-visited-color);
    }
}