.base {
    box-sizing: border-box;
    width: var(--rrte-code-width);
    background-color: rgb(var(--rrte-code-background));
    color: rgb(var(--rrte-code-color));
    font-family: var(--rrte-code-font-family);
    font-size: var(--rrte-code-font-size);
    line-height: var(--rrte-code-line-height);
    font-weight: var(--rrte-code-font-weight);
    text-decoration: var(--rrte-code-text-decoration);
    font-style: var(--rrte-code-font-style);
    border: var(--rrte-code-border);
    border-radius: var(--rrte-code-border-radius);
    padding: var(--rrte-code-padding);
}