.editor {
  margin: 12px 24px;
  max-width: 80%;
  --rrte-color-1-ovr: 255, 123, 23;
  --rrte-color-2-ovr: 100, 25, 45;
  --rrte-color-3-ovr: 123, 255, 23;
  --rrte-color-4-ovr: 255, 255, 255;
  --rrte-color-5-ovr: 0, 0, 0;
  --rrte-color-6-ovr: 190, 190, 0;
  --rrte-color-7-ovr: 0, 190, 190;
  --rrte-color-8-ovr: 190, 0, 190;
  --rrte-color-9-ovr: 0, 0, 190;

  --rrte-blockquote-color-ovr: 40, 40, 180;
  --rrte-blockquote-font-family-ovr: helvetica;
  --rrte-blockquote-line-height-ovr: 2;
  --rrte-blockquote-font-weight-ovr: 500;
  --rrte-blockquote-text-decoration-ovr: underline;
  --rrte-blockquote-font-style-ovr: italic;
  --rrte-blockquote-font-size-ovr: 1.5rem;
  --rrte-blockquote-padding-start-ovr: 1rem;
  --rrte-blockquote-background-ovr: 255, 255, 255;
  --rrte-blockquote-border-start-ovr: 2px solid rgb(0, 39, 52);
  --rrte-blockquote-margin-ovr: 1rem;
  --rrte-blockquote-width-ovr: 100%;

  --rrte-code-font-family-ovr: monospace;
  --rrte-code-font-size-ovr: 1rem;
  --rrte-code-line-height-ovr: 1.5;
  --rrte-code-font-weight-ovr: 300;
  --rrte-code-text-decoration-ovr: none;
  --rrte-code-font-style-ovr: normal;
  --rrte-code-background-ovr: 22, 22, 22;
  --rrte-code-color-ovr: 155, 40, 220;
  --rrte-code-border-ovr: 1px solid rgb(0, 39, 52);
  --rrte-code-border-radius-ovr: 4px;
  --rrte-code-padding-ovr: 1rem;
  --rrte-code-width-ovr: 100%;

  --rrte-codeblock-color-ovr: 255, 255, 255;
  --rrte-codeblock-font-family-ovr: monospace;
  --rrte-codeblock-font-size-ovr: 1rem;
  --rrte-codeblock-line-height-ovr: 1.5;
  --rrte-codeblock-font-weight-ovr: 400;
  --rrte-codeblock-text-decoration-ovr: none;
  --rrte-codeblock-font-style-ovr: normal;
  --rrte-codeblock-padding-start-ovr: 1rem;
  --rrte-codeblock-background-ovr: 0, 0, 0;
  --rrte-codeblock-border-start-ovr: 2px solid rgb(0, 191, 255);

  --rrte-h1-color-ovr: 12, 180, 4;
  --rrte-h1-font-family-ovr: impact;
  --rrte-h1-font-size-ovr: 3rem;
  --rrte-h1-line-height-ovr: 1.5;
  --rrte-h1-font-weight-ovr: 400;
  --rrte-h1-text-decoration-ovr: none;
  --rrte-h1-font-style-ovr: normal;

  --rrte-h2-color-ovr: 12, 180, 4;
  --rrte-h2-font-family-ovr: impact;
  --rrte-h2-font-size-ovr: 2.5rem;
  --rrte-h2-line-height-ovr: 1.5;
  --rrte-h2-font-weight-ovr: 400;
  --rrte-h2-text-decoration-ovr: none;
  --rrte-h2-font-style-ovr: normal;

  --rrte-h3-color-ovr: 12, 180, 4;
  --rrte-h3-font-family-ovr: impact;
  --rrte-h3-font-size-ovr: 2rem;
  --rrte-h3-line-height-ovr: 1.5;
  --rrte-h3-font-weight-ovr: 400;
  --rrte-h3-text-decoration-ovr: none;
  --rrte-h3-font-style-ovr: normal;

  --rrte-h4-color-ovr: 12, 180, 4;
  --rrte-h4-font-family-ovr: impact;
  --rrte-h4-font-size-ovr: 1.5rem;
  --rrte-h4-line-height-ovr: 1.5;
  --rrte-h4-font-weight-ovr: 400;
  --rrte-h4-text-decoration-ovr: none;
  --rrte-h4-font-style-ovr: normal;

  --rrte-h5-color-ovr: 12, 180, 4;
  --rrte-h5-font-family-ovr: impact;
  --rrte-h5-font-size-ovr: 1.25rem;
  --rrte-h5-line-height-ovr: 1.5;
  --rrte-h5-font-weight-ovr: 400;
  --rrte-h5-text-decoration-ovr: none;
  --rrte-h5-font-style-ovr: normal;

  --rrte-h6-color-ovr: 12, 180, 4;
  --rrte-h6-font-family-ovr: impact;
  --rrte-h6-font-size-ovr: 1rem;
  --rrte-h6-line-height-ovr: 1.5;
  --rrte-h6-font-weight-ovr: 400;
  --rrte-h6-text-decoration-ovr: none;
  --rrte-h6-font-style-ovr: normal;

  --rrte-link-color-ovr: 0, 191, 255;
  --rrte-link-font-ovr: inherit;
  --rrte-link-font-size-ovr: inherit;
  --rrte-link-font-weight-ovr: inherit;
  --rrte-link-text-decoration-ovr: none;
  --rrte-link-visited-color-ovr: 0, 191, 255;

  --rrte-p-color-ovr: 255, 255, 255;
  --rrte-p-font-family-ovr: inherit;
  --rrte-p-font-size-ovr: inherit;
  --rrte-p-line-height-ovr: inherit;
  --rrte-p-font-weight-ovr: inherit;
  --rrte-p-text-decoration-ovr: none;
  --rrte-p-font-style-ovr: normal;

  --rrte-bullet-list-style-type-ovr: space-counter;
  --rrte-bullet-list-style-position-ovr: inside;
  --rrte-bullet-list-style-image-ovr: none;
  --rrte-bullet-list-margin-ovr: 0;
  --rrte-bullet-list-padding-ovr: 0;
  --rrte-bullet-list-color-ovr: 123, 123, 123;
  --rrte-bullet-list-font-family-ovr: inherit;
  --rrte-bullet-list-font-size-ovr: inherit;
  --rrte-bullet-list-line-height-ovr: inherit;
  --rrte-bullet-list-font-weight-ovr: inherit;
  --rrte-bullet-list-text-decoration-ovr: none;
  --rrte-bullet-list-font-style-ovr: normal;

  --rrte-ordered-list-style-type-ovr: upper-roman;
  --rrte-ordered-list-style-position-ovr: inside;
  --rrte-ordered-list-style-image-ovr: none;
  --rrte-ordered-list-margin-ovr: 0;
  --rrte-ordered-list-padding-ovr: 0;
  --rrte-ordered-list-color-ovr: 123, 123, 123;
  --rrte-ordered-list-font-family-ovr: inherit;
  --rrte-ordered-list-font-size-ovr: inherit;
  --rrte-ordered-list-line-height-ovr: inherit;
  --rrte-ordered-list-font-weight-ovr: inherit;
  --rrte-ordered-list-text-decoration-ovr: none;
  --rrte-ordered-list-font-style-ovr: normal;
}
.editorContentWrapper {
  border: 1px solid rgb(255, 35, 122);
  border-top: none;
  padding: 12px 18px;
}

.editorContent {
  outline: none;
  padding: 12px 18px;
  width: 100%;
}
