.regularButton {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 30px;
  padding: 6px;
  background: none;
  border: none;
  border-radius: var(--toolbar-button-border-radius);

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.1;
    cursor: not-allowed;
  }

  &:focus-within,
  &:hover,
  &:focus {
    background-color: rgb(
      var(--rrte-toolbar-item-focus-background),
      var(--rrte-toolbar-item-focus-background-alpha)
    );
    outline: var(--rrte-toolbar-item-focus-outline);
  }
  &.active {
    background: rgb(var(--rrte-color-4));
    &.secondaryTheme {
      background: rgb(var(--rrte-color-6));
    }

    &:focus-within,
    &:hover,
    &:focus {
      background-color: rgb(var(--rrte-color-4), var(--rrte-toolbar-item-focus-background-alpha));
      &.secondaryTheme {
        background: rgb(var(--rrte-color-6), var(--rrte-toolbar-item-focus-background-alpha));
      }
    }
  }
}

.icon {
  --toolbar-regular-button-icon-color: rgb(var(--rrte-color-2));

  &.fill * {
    fill: var(--toolbar-regular-button-icon-color);
  }

  &.stroke * {
    stroke: var(--toolbar-regular-button-icon-color);
  }

  &.active {
    --toolbar-regular-button-icon-color: rgb(var(--rrte-color-1));
    background: rgb(var(--rrte-color-4));
    &.secondaryTheme {
      background: rgb(var(--rrte-color-6));
    }

    &.stroke * {
      stroke: var(--toolbar-regular-button-icon-color);
    }

    &.fill * {
      fill: var(--toolbar-regular-button-icon-color);
    }
  }
}
