.container {
    position: relative;
    width: max-content;
    cursor: pointer;
    max-width: 100%;

    &:hover {
        outline: 3px solid rgb(var(--rrte-color-4));
    }
}


.selected {
    outline: 3px solid rgb(var(--rrte-color-4));
}