.bubbleMenu {
    border: 1px solid rgb(var(--rrce-color-2));
    border-radius: 12px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(var(--rrce-color-1));
    font-family: var(--rrce-p-font-family);
    font-size: 14px;
    font-weight: var(--rrce-p-font-weight);
    color: rgb(var(--rrce-color-2));
    z-index: 100;
}

.inputContainer {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 6px;
}

.input {
    flex: 1;
    border: 1px solid rgb(var(--rrce-color-2));
    background: transparent;
    font-family: var(--rrce-p-font-family);
    font-size: 14px;
    font-weight: var(--rrce-p-font-weight);
    color: rgb(var(--rrce-color-2));
    outline: none;
}