:root {
    --rrte-color-1: var(--rrte-color-1-ovr, 255, 255, 255);
    --rrte-color-2: var(--rrte-color-2-ovr, 0, 0, 0);
    --rrte-color-3: var(--rrte-color-3-ovr, 222, 222, 222);
    --rrte-color-4: var(--rrte-color-4-ovr, 15, 95, 255);
    --rrte-color-5: var(--rrte-color-5-ovr, 253, 86, 225);
    --rrte-color-6: var(--rrte-color-6-ovr, 253, 197, 86);
    --rrte-color-7: var(--rrte-color-7-ovr, 86, 253, 114);
    --rrte-color-8: var(--rrte-color-8-ovr, 153, 187, 253);
    --rrte-color-9: var(--rrte-color-9-ovr, 0, 0, 0);
}

.editorContent {
    background: rgb(var(--rrte-color-1));
}