@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.editor {
  min-height: 100vh;
  margin: 12px 24px;
  max-width: 50%;
}
.editorContentWrapper {
  border: 1px solid black;
  border-top: none;
  padding: 12px 18px;
}

.editorContent {
  min-height: 600px;
  outline: none;
  padding: 6px;
  border: 1px solid var(--rrte-color-2);
}

.siteContainer {
  display: flex;
}

.siteContainer > * {
  flex: 1;
  box-sizing: border-box;
}

.schemaContainer {
  border: 1px solid black;
  padding: 12px 18px;
  margin: 12px 24px;
  min-height: 100vh;
}
.schemaContainer > pre {
  font-family: 'Roboto', sans-serif;
  word-break: break-all;
  white-space: break-spaces;
}
