.base {
  box-sizing: border-box;
  width: var(--rrte-blockquote-width);
  margin: var(--rrte-blockquote-margin);
  border-inline-start: var(--rrte-blockquote-border-start);
  padding-inline-start: var(--rrte-blockquote-padding-start);
  background: rgb(var(--rrte-blockquote-background));
  --rrte-p-color: var(--rrte-blockquote-color);
  --rrte-p-font-family: var(--rrte-blockquote-font-family);
  --rrte-p-font-size: var(--rrte-blockquote-font-size);
  --rrte-p-line-height: var(--rrte-blockquote-line-height);
  --rrte-p-font-weight: var(--rrte-blockquote-font-weight);
  --rrte-p-text-decoration: var(--rrte-blockquote-text-decoration);
  --rrte-p-font-style: var(--rrte-blockquote-font-style);
}