.groupedToolbars {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  background: rgb(var(--rrte-color-3), 0.1);
  border-bottom: var(--rrte-editor-border);
  gap: 3px;
  padding: 3px 6px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  .group:not(:last-child) {
    border-right: var(--rrte-editor-border);
    padding-left: 3px;
  }
}

.toolbarList {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 3px;
  padding: 6px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.toolbarTooltip {
  --rt-opacity: 1;
  font-family: var(--rrte-p-font-family);
  z-index: 2;
}
