.toolbarList {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  background: rgb(var(--rrte-color-1));
  gap: 6px;
  padding: 6px;
  border: 1px solid rgb(var(--rrte-color-2));
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.toolbarTooltip {
  --rt-opacity: 1;
  font-family: var(--rrte-p-font-family);
  z-index: 2;
}
