.colorContainer {
    background: transparent;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    .colorMainButton {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0px 2px;
        border: 1px solid rgb(var(--rrce-color-2));
        border-radius: 5px;
        overflow: hidden;

        &:focus-within {
            outline: -webkit-focus-ring-color auto 1px;
        }

        &.withReset {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .colorInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
        }

        .colorLetter {
            font-size: 14px;
            font-family: var(--rrce-p-font-family);
        }

        .colorBar {
            width: 70%;
            height: 3px;
        }

        &:hover {
            background: rgb(var(--rrce-color-4), 0.3);
            cursor: pointer;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:disabled:hover {
            background: none;
        }
    }

    .colorReset {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid rgb(var(--rrce-color-2));
        border-left: none;
        border-radius: 0 5px 5px 0;


        &:focus-within {
            outline: -webkit-focus-ring-color auto 1px;
        }

        &:hover {
            background: rgb(var(--rrce-color-4), 0.3);
            cursor: pointer;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:disabled:hover {
            background: none;
        }
    }
}